/* .title {
   /* HEX, RGB< RGBA */
    /* Color name */
    /* color: red; */
    /* RGB=> RED< GREEN< BULE */
    /* color: rgb(0, 250, 0); */
    /* HEX */
    /* color: #ff0000; */
    /* RGBA */
    /* color: rgba(0, 0, 0, 0.); */
    /* HEX */
    /* color: #00000079; */
    /* Opacity */
    /* opacity: 0.5; */
/* 
    .text {
        display: inline;
    } */

    /* .text {
        display: block;
    } */
    /* .box {
        background-color: aqua;
    } */

    /* .hero_content{
        display: inline-block;
    }

    .img {
        display: inline-block;
    } */